@media screen and (max-width: 1024px) {
    .container {
        max-width: 970px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 750px;
    }
    .navbar {
        display: none;
    }
    .head .burger{
        display: block;
    }

}

@media screen and (max-width: 414px) {
    .container {
        max-width: none;
    }

    .lower img {
        display: none;
    }

}